%h1 Common Questions and Answers

%h3 When will the items be available for sale?

%p After our last day of regular operation, we will be dissassembling the gym and getting ready for sale. We will begin offering items for sale shortly after the new year.

%p We will offer items for sale in the following order:

%ul
  %li Current Members & Coaches
  %li Other gym owners
  %li General public

%h3 Can I purchase online?

%p Not currently. Maybe at the very end if there is anything left, we may offer it for sale online.

%h3 Will you ship something to me?

%p Probably not. Shipping items would be very time consuming and would probably be cost prohibitive.

%h3 Is the pricing negotiable?

%p Not really. We priced items based on what we felt was fair and reasonable based on the used market and the condition of the item.

%p If you think something is pricing unreasonably, send us a message using the link on the item page. We will get back to you when we can, but no guarantees on how quickly that may be.

%h3 I have a questions about a specific item.

%p Use the link on the item page to send us an email to ask about it. We will answer it as quickly as we can, but we are very busy right now.

%h3 How can I stay updated about what is going on with the sale?

%p We will post a link shortly for a form you can submit your email address to stay in the loop.
