!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %meta{"http-equiv" => "x-ua-compatible", :content => "ie=edge"}
    %title GarageSale
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .pos-f-t
      %nav.navbar.navbar-light.bg-faded.navbar-fixed-top
        %a.navbar-brand{:href => "#"} Navbar
        %ul.nav.navbar-nav
          %li.nav-item.active
            %a.nav-link{:href => "#"}
              Home
              %span.sr-only (current)
          %li.nav-item
            %a.nav-link{:href => "#"} Features
          %li.nav-item
            %a.nav-link{:href => "#"} Pricing
          %li.nav-item
            %a.nav-link{:href => "#"} About
        %form.form-inline.pull-xs-right
          %input.form-control{:placeholder => "Search", :type => "text"}/
          %button.btn.btn-success-outline{:type => "submit"} Search

    .container
      = yield
